<template>
    <nav class="topnav">

  <a href="#" class="active" > Home </a>
  <a href="#"> template </a>
  <a href="#"> vue </a>
  <a href="#"> api </a>
  <a href="#"> rest </a>
</nav>

</template>

<script>
export default {
  name: 'NavBar',
}
</script>

<style scoped>
 .topnav {
        background-color: #000;
        overflow: hidden;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        box-shadow: 2px 5px 5px #454545;

        border-bottom: 3px solid red;
        border-image: linear-gradient(to right,#FF3131, orange) 50;

      }
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }
      .head{
      float: left;
      margin-right: 15px;
      }
</style>